{
    "parserOptions": {
        "ecmaVersion": 2017,
    },
    "extends": "google",
    "rules": {
      "require-jsdoc": "off",
      "spaced-comment": "off",
      "max-len": "off",
      "guard-for-in": "off",
    }
}
